@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Bebas';
    font-weight: 400;
    src: url('~/assets/fonts/bebas/BebasNeue-Regular.ttf')
  }
}